<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.north.chat.mapper.ChatMsgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.north.chat.entity.ChatMsg">
        <id column="id" property="id" />
        <result column="chat_msg" property="chatMsg" />
        <result column="chat_from" property="chatFrom" />
        <result column="chat_to" property="chatTo" />
        <result column="update_time" property="updateTime" />
        <result column="extras" property="extras" />
        <result column="chat_type" property="chatType" />
        <result column="chat_msg_type" property="chatMsgType" />
        <result column="read_type" property="readType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, chat_msg, chat_from, chat_to, update_time, extras, chat_type, chat_msg_type, read_type
    </sql>

</mapper>
