<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.north.chat.mapper.ChatGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.north.chat.entity.ChatGroup">
        <id column="id" property="id" />
        <result column="group_name" property="groupName" />
        <result column="group_ownuser_id" property="groupOwnuserId" />
        <result column="update_time" property="updateTime" />
        <result column="chat_app_id" property="chatAppId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_name, group_ownuser_id, update_time, chat_app_id
    </sql>

</mapper>
