<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.north.genealogy.mapper.GenealogyPersonTimelineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.north.genealogy.entity.GenealogyPersonTimeline">
        <id column="id" property="id" />
        <result column="person_id" property="personId" />
        <result column="event_content" property="eventContent" />
        <result column="event_time" property="eventTime" />
        <result column="event_remark" property="eventRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, person_id, event_content, event_time, event_remark
    </sql>

</mapper>
