<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.north.genealogy.mapper.GenealogyFamilyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.north.genealogy.entity.GenealogyFamily">
        <id column="id" property="id" />
        <result column="genealogy_surname" property="genealogySurname" />
        <result column="genealogy_area" property="genealogyArea" />
        <result column="genealogy_remark" property="genealogyRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, genealogy_surname, genealogy_area, genealogy_remark
    </sql>

</mapper>
