<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.north.genealogy.mapper.GenealogyPersonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.north.genealogy.entity.GenealogyPerson">
        <id column="id" property="id" />
        <result column="genealogy_id" property="genealogyId" />
        <result column="genealogy_name" property="genealogyName" />
        <result column="genealogy_sex" property="genealogySex" />
        <result column="genealogy_birthday" property="genealogyBirthday" />
        <result column="genealogy_deadtime" property="genealogyDeadtime" />
        <result column="genealogy_experience" property="genealogyExperience" />
        <result column="parent_id" property="parentId" />
        <result column="spouse_id" property="spouseId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, genealogy_id, genealogy_name, genealogy_sex, genealogy_birthday, genealogy_deadtime, genealogy_experience, parent_id, spouse_id
    </sql>

</mapper>
