<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.north.sys.mapper.SysResourceMapper" >
	<resultMap id="BaseResultMap" type="com.north.sys.entity.SysResource" >
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
		<result column="resource_type" property="resourceType" jdbcType="VARCHAR" />
		<result column="resource_url" property="resourceUrl" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />
		<result column="permission" property="permission" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="resource_icon" property="resourceIcon" jdbcType="VARCHAR" />
		<result column="resource_order_num" property="resourceOrderNum" jdbcType="INTEGER" />
	</resultMap>
    <select id="selectMenus" parameterType="map" resultMap="BaseResultMap">
        SELECT DISTINCT rs.* FROM sys_resource rs
        LEFT JOIN sys_role_resource rr ON rs.id = rr.resource_id
        LEFT JOIN sys_role r ON r.id = rr.role_id
        LEFT JOIN sys_user_role ur ON r.id = ur.role_id
        LEFT JOIN sys_user u ON u.id = ur.user_id
        where rs.resource_type = 'url'
        <if test="userId != null and userId != '1' ">
            and u.id = #{userId,jdbcType=INTEGER}
        </if>
        <if test="roleId != null and roleId != '' ">
            and r.id = #{roleId,jdbcType=INTEGER}
        </if>
        order by rs.resource_order_num
    </select>
    <select id="getResourceMenus" parameterType="map" resultMap="BaseResultMap">
        SELECT DISTINCT rs.* FROM sys_resource rs
        LEFT JOIN sys_role_resource rr ON rs.id = rr.resource_id
        LEFT JOIN sys_role r ON r.id = rr.role_id
        LEFT JOIN sys_user_role ur ON r.id = ur.role_id
        LEFT JOIN sys_user u ON u.id = ur.user_id
        where 1=1
        <if test="resourceType != null and resourceType != '' ">
            and rs.resource_type = #{resourceType}
        </if>
        <if test="userId != null and userId != '1' ">
            and u.id = #{userId}
        </if>
        <if test="roleId != null and roleId != '' ">
            and r.id = #{roleId}
        </if>
        order by rs.resource_order_num
    </select>

    <select id="getResourceActions" parameterType="map" resultMap="BaseResultMap">
        SELECT DISTINCT rs.* FROM sys_resource rs
        LEFT JOIN sys_role_resource rr ON rs.id = rr.resource_id
        LEFT JOIN sys_role r ON r.id = rr.role_id
        LEFT JOIN sys_user_role ur ON r.id = ur.role_id
        LEFT JOIN sys_user u ON u.id = ur.user_id
        where
        rs.resource_type = 'action'
    </select>

</mapper>